default_foo: "{{ default_foo }}"

default_bar.a "{{ default_bar.a }}"
default_bar.b "{{ default_bar.b }}"

default_num1: {{ default_num1 }}
default_num2: {{ default_num2 }}
default_num3: {{ default_num3 }}

foo: "{{ foo }}"

bar.a: "{{ bar.a }}"
bar.b: "{{ bar.b }}"

num1: {{ num1 }}
num2: {{ num2 }}
num3: {{ num3 }}

bool1: {{ bool1 | lower }}
